* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* div.background {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/ipad.png);
  display: flex;
  align-items: center;
  justify-content: center;
} */

div.grid {
  height: 450px;
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

div.grid-item {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
}

div.grid-item.userOne {
  width: 30px;
  height: 30px;
  background-image: url('../assets/Steve-Jobs.jpg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.food-location {
  width: 30px;
  height: 30px;
  background-image: url('../assets/BitCoin.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.tail {
  width: 30px;
  height: 30px;
  background-image: url('../assets/apple.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}