* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  height: 440px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

div.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

div.grid-item.userOne {
  width: 40px;
  height: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.food-location {
  width: 40px;
  height: 40px;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: contain;
}
